<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" type="text/css" href="test.css">
     <meta name="viewport" content="width=device-width, initial-scale">
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
     <script src="/socket.io/socket.io.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <title>test</title>
  </head>
  <body>

    <div id="app">
      <div class="grid-container">
        <div style="background-color:rgb(26, 26, 26);">
         <div class="one">Orders</div>
        </div>
        <div class="h1"> Order description</div>
        <div class="factory">
          <div class="h2">factory modules</div>
        </div>
        <div id="output" class="orders">Four</div>
        <div style="background-color:rgb(51, 51, 51);">
          <div class="img1">
           <img  v-bind:src="img1">
           <p style="display:inline-block;">name.......</p>

          </div>
          <br>
          <img class="img2" v-bind:src="img2">
        </div>

        <div class="sorting">
          <div class="h3">
           <h2> sorting machine </h2>
          </div>
          <img  class="img1"v-bind:src="img3">
          <p class="p1" v-if="sorting"> Loading... </p>
          <p class="p1" v-else>sorting is finished </p>

          <div class="w3-light-grey w3-round-xlarge">
             <div class="w3-container w3-blue w3-round-xlarge" style="width:70%;height:20px" v-if="sorting"></div>
             <div class="w3-container w3-blue w3-round-xlarge" style="width:100%;height:20px" v-else></div>
           </div>
        </div>
        <div class="order">
          <div style="font-size:25px;" >-ID:{{ id }} </div>
           <div style="font-size:25px;" >-location1:{{ location1 }}</div>
           <div style="font-size:25px;" >-location2:{{ location2 }}</div>
           <p style="font-size:25px;" >Product information:</p>
           <div style="font-size:25px;">-Red balls:{{ red }}</div>
           <div style="font-size:25px;"  >-Green balls:{{ green }}</div>
           <div style="font-size:25px;" >-Blue balls:{{ blue }}</div>
           <br>
           <button id="orderBtn" class="btn" v-on:click.prevent="newOrder"> New Order </button>
            <button id="orderBtn" class="btn" v-on:click.prevent="sendOrder"> Send Order </button>
        </div>
        <div class="sorting">
          <div class="h3">
           <h2> collecting order </h2>
          </div>
          <img class="img1" v-bind:src="img4">
          <p class="p1" v-if="sorting"> Loading... </p>
          <p class="p1" v-else>order is finished </p>

          <div class="w3-light-grey w3-round-xlarge">
             <div class="w3-container w3-blue w3-round-xlarge" style="width:70%;height:20px" v-if="sorting"></div>
             <div class="w3-container w3-blue w3-round-xlarge" style="width:100%;height:20px" v-else></div>
          </div>
        </div>

      </div>
    </div>
    <script src="vue.js"></script>
  </body>
</html>
