.grid-container {
  border-radius:10px;
  border-style: solid;
  border-width:15px;
  width:1450px;
  display: grid;
  grid-gap:5px;
  grid: 80px 450px 450px/250px 550px 550px;
  background-color:rgb(51, 51, 51);
  padding: 10px;
  margin-right:10px;

}

.grid-container > div {

  text-align:left;
  padding: 10px ;
  font-size: 30px;
  color:white;


}
.orders{
  grid-row: 2 / span 3 ;
  overflow: auto;
  max-height:900px;
  background-color:rgb(26, 26, 26);
}
.h1{
  width:300px;
  height: auto;
  margin:10px;
  margin-left:120px;
  border-radius:60px;
  background-color:rgb(102, 102, 102);
  padding-left: 10px;
}

.factory{
  width:auto;
  height: auto;
  background-color: rgb(102, 102, 102);
}
.h2{
  width:300px;
  height: auto;
  background-color:rgb(51, 51, 51);
  border-radius:60px;
  margin:0px;
  padding:10px;
  padding-left:30px;
  margin-left:120px;
}
.img2{
  margin-top:20px;
  margin-left:180px;
}
.img1{
  margin-top:10px;
  margin-left:100px;
  width:320px;
  height: 120px;
  border-radius:60px;
  background-color:rgb(102, 102, 102);
  padding: 5px;
}
.order{
  text-align: left;
}
.sorting{
    background-color:rgb(102, 102, 102);
}
.h3{
  width:250px;
  height: auto;
  background-color:rgb(51, 51, 51);
  color:white ;
  padding-left:15px;
  border-radius:15px;
}
.p1{
  margin-left:180px;
}
.one{
  border-radius:60px;
  background-color:rgb(102, 102, 102);
  width:150px;
  height: auto;
  margin-left:30px;
  padding: 5px;
  text-align: center;
}
.btn{
  font-size:25px;
}
