<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
       <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>todo</title>

  </head>
  <body>
    <div id="app">
      <form @submit.prevent="addTodo">
        <input v-model="newTodo" type="text" id="newtodo">
        <button type="submit">add</button>


      </form>


      <ul>
        <li v-for="todo in todos"> {{ todo.title }}
         <button @click="removetodo(todo)" type="button">remove</button>
         
        </li>
      </ul>
    </div>

   <script src="vue.js"></script>

  </body>
</html>
